body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header a.active {
  background-color: #ffe13f;
  color: black;
}

ul.header {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #090922;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header span {
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #ffe13f;
  color: black;
}

.center {
  text-align: center;
}

.input-group {
  align-items: center;
}

.bockbluster-logo {
  font-family: 'Impact';
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ffe13f;
  cursor: pointer;
}

.bockbluster-letter {
  display: inline-block;
  margin: 0 2px;
  text-transform: uppercase;
}

.registered-trademark {
  font-size: 16px;
  vertical-align: super;
}

.align-right {
  float: right !important;
}

.loginInput {
  margin-top: 5px;
  width: 50%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.loginButton {
  width: 20%;
  margin: 10px;
  background-color: #ffe13f;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  transform: scale(1.0225);
}

.none {
  text-decoration: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}