body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header a.active {
  background-color: #ffe13f;
  color: black;
}

ul.header {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #090922;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #ffe13f;
  color: black;
}

.center {
  text-align: center;
}

.input-group{
  align-items: center;
}

.bockbluster-logo {
  font-family: 'Impact';
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ffe13f;
  cursor: pointer;
  /* Yellow */
}

.bockbluster-letter {
  display: inline-block;
  margin: 0 2px;
  text-transform: uppercase;
}

.registered-trademark {
  font-size: 16px;
  vertical-align: super;
}
