body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header a.active {
  background-color: #ffe13f;
  color: black;
}

ul.header {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #090922;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header span {
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: #ffe13f;
  color: black;
}

.center {
  text-align: center;
}

.input-group {
  align-items: center;
}

.bockbluster-logo {
  font-family: 'Impact';
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ffe13f;
  cursor: pointer;
}

.bockbluster-letter {
  display: inline-block;
  margin: 0 2px;
  text-transform: uppercase;
}

.registered-trademark {
  font-size: 16px;
  vertical-align: super;
}

.align-right {
  float: right !important;
}

.login-nav {
  padding-right: 10px;
}

.frontpage-nav {
  padding-left: 10px;
}

.loginInput {
  margin-top: 5px;
  width: 50%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.loginButton {
  width: 20%;
  margin: 10px;
  background-color: #ffe13f;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  transform: scale(1.0225);
}

.none {
  text-decoration: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.right {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.1em solid #0e193c;
  margin-left: 1em;
  background-color: #0e193c;
}

.right:after {
  content: '';
  display: inline-block;
  margin-top: 0.5em;
  margin-left: -0.2em;
  width: 1em;
  height: 1em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right:hover {
  transition: background-color 0.3s ease;
  background-color: blue;
}

.left {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.1em solid #0e193c;
  margin-right: 1em;
  background-color: #0e193c;
}

.left:after {
  content: '';
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 0.2em;
  width: 1em;
  height: 1em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.left:hover {
  transition: background-color 0.3s ease;
  background-color: blue;
}

.page-number {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.1em solid #0e193c;
  margin-right: 0.25em;
  margin-left: 0.25em;
  background-color: #0e193c;
  color: white;
  font-weight: bold;
}


.page-number:hover {
  transition: background-color 0.3s ease;
  background-color: blue;
}

.page-number.current-page {
  background-color: #ffe13f;
  color: black;
}

.star {
  width: 20px;
  height: 20px;
  padding: 2px;
  position: absolute;
  margin-left: -20px;
  margin-top: 1px;
}

.card-title {
  font-weight: bold;
}